 body{
 background-color: darkgrey;
        }
        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
        * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        }
        .wrapper {
        background: #171c24;
        position: fixed;
        width: 100%;
        }
        .wrapper nav {
        position: relative;
        display: flex;
        max-width: calc(100% - 200px);
        margin: 0 auto;
        height: 70px;
        align-items: center;
        justify-content: space-between;
        }
        nav .content {
        display: flex;
        align-items: center;
        }
        nav .content .links {
        margin-left: 450px;
        display: flex;
        }
        .content .logo a {
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        }
        .content .links li {
        list-style: none;
        line-height: 70px;
        }
        .content .links li a,
        .content .links li label {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        padding: 9px 17px;
        border-radius: 5px;
        transition: all 0.3s ease;
        }
        .content .links li label {
        display: none;
        }
        .content .links li a:hover,
        .content .links li label:hover {
        background: #323c4e;
        }
        .wrapper
        .wrapper .menu-icon {
        color: #fff;
        font-size: 18px;
        cursor: pointer;
        line-height: 70px;
        width: 70px;
        text-align: center;
        }
        .wrapper .menu-icon {
        display: none;
        }
        .wrapper #show-search:checked ~ .search-icon i::before {
        content: "\f00d";
        }
        .wrapper .search-box {
        position: absolute;
        height: 100%;
        max-width: calc(100% - 50px);
        width: 100%;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
        }
        .wrapper #show-search:checked ~ .search-box {
        opacity: 1;
        pointer-events: auto;
        }
        .wrapper input[type="checkbox"] {
        display: none;
        }
        /* Dropdown Menu code start */
        .content .links ul {
        position: absolute;
        background: #171c24;
        top: 80px;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        }
        .content .links li:hover > ul {
        top: 70px;
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease;
        }
        .content .links ul li a {
        display: block;
        width: 100%;
        line-height: 30px;
        border-radius: 0px !important;
        }
        .content .links ul ul {
        position: absolute;
        top: 0;
        right: calc(-100% + 8px);
        }
        .content .links ul li {
        position: relative;
        }
        .content .links ul li:hover ul {
        top: 0;
        }
        /* Responsive code start */
        @media screen and (max-width: 1250px) {
        .wrapper nav {
        max-width: 100%;
        padding: 0 20px;
        }
        nav .content .links {
        margin-left: 30px;
        }
        .content .links li a {
        padding: 8px 13px;
        }

        }
        @media screen and (max-width: 900px) {
        .wrapper .menu-icon {
        display: block;
        }
        .wrapper #show-menu:checked ~ .menu-icon i::before {
        content: "\f00d";
        }
        nav .content .links {
        display: block;
        position: fixed;
        background: #14181f;
        height: 100%;
        width: 100%;
        top: 70px;
        left: -100%;
        margin-left: 0;
        max-width: 350px;
        overflow-y: auto;
        padding-bottom: 100px;
        transition: all 0.3s ease;
        }
        nav #show-menu:checked ~ .content .links {
        left: 0%;
        }
        .content .links li {
        margin: 15px 20px;
        }
        .content .links li a,
        .content .links li label {
        line-height: 40px;
        font-size: 20px;
        display: block;
        padding: 8px 18px;
        cursor: pointer;
        }
        .content .links li a.desktop-link {
        display: none;
        }

        /* dropdown responsive code start */
        .content .links ul,
        .content .links ul ul {
        position: static;
        opacity: 1;
        visibility: visible;
        background: none;
        max-height: 0px;
        overflow: hidden;
        }
        .content .links #show-features:checked ~ ul,
        .content .links #show-services:checked ~ ul,
        .content .links #show-items:checked ~ ul {
        max-height: 100vh;
        }
        .content .links ul li {
        margin: 7px 20px;
        }
        .content .links ul li a {
        font-size: 18px;
        line-height: 30px;
        border-radius: 5px !important;
        }

        }
        @media screen and (max-width: 400px) {
        .wrapper nav {
        padding: 0 10px;
        }
        .content .logo a {
        font-size: 27px;
        }
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.todo {
    place-items: center;
	width: 100%;
	max-width: 420px;
	background-color: #ddd;
	padding: 2em;
	box-shadow: 1px 2px 4px #0003;
}

h1 {
	margin: 0 auto;
}

ul {
	padding-inline-start: 1.5em;
	font-weight: 400;



	ul ::marker {
		content: ">>";
	}
}

li {
	position: relative;
	padding-inline-start: 0.5em;
	padding-top: 1.5em;
	border-bottom: 1px solid #48b2;
	cursor: default;
	transition: color 0.4s;

	&::after {

		position: absolute;
		left: 15%; bottom: calc(100% - 1.5em);
		background-image: conic-gradient(from 10deg at 1em 100%, #fff 30deg, #fff0 30deg),
			linear-gradient(0deg, #fff0 1.5em, #fff 1.5em);
		color: #246;
		font-weight: 700;
		padding: 1em 2em 2.5em;
		pointer-events: none;
		opacity: 0;
		filter: drop-shadow(1px 2px 4px #0003);
		transition: opacity 0.4s;
	}

	&:hover {
		color: #48b;

		&::marker {
			font-weight: 700;
		}
		&::after {
			opacity: 1;
			transition-delay: 0.2s;
		}
	}
}

        .responsive-button{
  position: absolute;
  left: calc(109% - 3em);
  top: calc(50% - 2em);

  height: 4em;
  width: 7em;

  background: #444;
  background: linear-gradient(top, #555, #333);
  border: none;
  border-top: 3px solid orange;
  border-radius: 0 0 0.2em 0.2em;
  color: #fff;
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 1em;
  transform-origin: 50% 5em;
}

@media screen and (max-width: 900px) {
    .responsive-button {
        padding: 8px 15px;
        margin-top: 10px;
    }
}
@media screen and (max-width: 400px) {
    .responsive-button {
        padding: 6px 12px;
    }
}
}